<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>data tool</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename=stylesheet) }}"
		/>
		<link
			rel="icon"
			href="{{ url_for('static', filename='./images/tables.png') }}"
		/>
	</head>
	<body>
		<div class="content-container">
			{% block content %}{% endblock %}
			<script
				type="module"
				src="{{ url_for('static', filename=script) }}"
			></script>
		</div>
		{% include './calculator/calculator.html' %}
	</body>
</html>
