{% extends 'base.html' %} {% block content %}
<h1>Data Tool</h1>
<div class="main-body">
	{% for project in projects %}
	<div>
		<div>
			<img
				src="./static/images/trash.png"
				class="icon"
				width="20"
				height="20"
				onclick="project_delete('{{ project }}')"
			/>
			<a
				href="{{ url_for('project_home', project_name=project) }}"
				class="project-link"
				>{{ project }}</a
			>
		</div>
	</div>
	{% endfor %}
</div>
<div>
	<input
		id="project-name"
		type="text"
		placeholder="new project"
		class="project-name-input"
	/>
</div>
{% endblock %}
